---
import Layout from '../layout/Layout.astro';
import { Image } from 'astro:assets';
import TealingerLogoTxt from '../assets/Tealinger_Wortbildmarke.png'
import TealingerLogo from '../assets/Tealinger_Bildmarke.png'
import TealingerForm from '../assets/Tealinger_Formmarke.png'
import "../styles/global.css";
---

<Layout title="Barrierefreiheitserklärung">
    <div>
			<h1 id="hero-heading" class="md:text-5xl font-extrabold text-tealinger-dark mb-6 leading-tight">
				Über uns <br />
			</h1>
            <h1 id="hero-heading" class="md:text-4xl font-extrabold text-tealinger-dark mb-6 leading-tight">
				Unsere Philosophie & Marken <br />
			</h1>
			<p class="text-xl text-gray-700 mb-8">
				Unsere Identität spiegelt die Verbindung aus organischer Ruhe und klarer Struktur wider. Jedes Element unserer Marke wurde mit Bedacht gewählt.          
            </p>
            <h1 id="hero-heading" class="md:text-2xl font-extrabold text-tealinger-dark mb-6 leading-tight">
				Wortmarke <br />
			</h1>
            <p class="text-xl text-gray-700 mb-2">
				<strong>Tealinger</strong> ist eine Kombination aus Tea (Deutsch: Tee) und unserem Familiennamen "Gierlinger". Als Familienunternehmen legen wir besonderen Wert auf die Qualität unserer Produkte, und wollen durch diesen einzigartigen Namen direkt erkannt werden. 
            </p>
             <p class="text-xl text-gray-700 mb-9">
                Diese Marke hat die Nizza-Klassen Zuordnung <stron>30</stron>. Sie befindet sich in der Kategorie für Tee.
            </p>
            <h1 id="hero-heading" class="md:text-2xl font-extrabold text-tealinger-dark mb-6 leading-tight">
				Wortbildmarke <br />
			</h1>
            <a href="/tealinger" class="block w-40 md:w-200 relative z-50">
            <Image src={TealingerLogoTxt} alt="Tealinger Logo" class="w-full h-auto object-contain" />
            </a>
            <p class="text-xl text-gray-700 mb-2">
				Dieses Bild hat <strong>Tealinger</strong> im Namen und kann damit direkt auf uns zurückgeführt werden. Jede Verpackung trägt dieses Bild damit jeder Kunde weiß, dass sie von Tealinger gekauft haben.
            </p>
            <p class="text-xl text-gray-700 mb-9">
                Diese Marke hat die Nizza-Klassen Zuordnung <stron>30</stron>. Sie befindet sich in der Kategorie für Tee.
            </p>
            <h1 id="hero-heading" class="md:text-2xl font-extrabold text-tealinger-dark mb-6 leading-tight">
				Bildmarke - Siegel <br />
			</h1>
            <a href="/tealinger" class="block w-40 md:w-100 relative z-50">
            <Image src={TealingerLogo} alt="Tealinger Logo" class="w-full h-auto object-contain" />
            </a>
            <p class="text-xl text-gray-700 mb-2">
				Das ist das Siegel von <strong>Tealinger</strong> und befindet sich auf all unseren Produkten. Von Häferl bis Teeverpackung wird dieses wiedererkennbare Symbol für außgezeichnete Ware verwendet.
            </p>
            <p class="text-xl text-gray-700 mb-9">
                Diese Marke hat die Nizza-Klassen Zuordnung <stron>30</stron>. Sie befindet sich in der Kategorie für Tee.
            </p>
            <h1 id="hero-heading" class="md:text-2xl font-extrabold text-tealinger-dark mb-6 leading-tight">
				Formmarke - Teedose <br />
			</h1>
            <a href="/tealinger" class="block w-40 md:w-100 relative z-50">
            <Image src={TealingerForm} alt="Tealinger Logo" class="w-full h-auto object-contain" />
            </a>
            <p class="text-xl text-gray-700 mb-2">
				Unsere einzigartige Teedose gibt es nur bei <strong>Tealinger</strong>. Jeder Kunde kann sich gewiss sein, dass diese Form nur bei ihnen Zuhause steht.
                <br>
            </p>
            <p class="text-xl text-gray-700 mb-9">
                Diese Marke hat die Nizza-Klassen Zuordnung <stron>21</stron>. Sie wird als Teedose klassifiziert.
            </p>
            <p class="text-xl text-gray-700 mb-9">
                Für die Markenklassifikation wurde sich an die internationale Klassifikation von Waren und Dienstleistungen für die Eintragung von Marken, auch Nizza-Klassifikation genannt, gehalten.
            </p>
		</div>
</Layout>