---
import Layout from '../layout/Layout.astro';
import "../styles/global.css";
---

<Layout title="Barrierefreiheitserklärung">
    <div>
        <h1 class="text-4xl font-extrabold text-tealinger-dark mb-8 border-b-2 border-green-100 pb-4">Erklärung zur digitalen Barrierefreiheit</h1>
			<p class="text-xl text-gray-700 mb-8">
				Diese Erklärung zur Barrierefreiheit gilt für die Website https://www.martingierlinger.github.io/tealinger das Ermöglichen guter Kundenerfahrungen für mehr Komfort im Alltag. Kern dieser Mission ist unsere Verpflichtung zur Entwicklung inklusiver digitaler Produkte, die von allen genutzt werden können.
			</p>
            <h2 class="text-2xl font-bold text-tealinger-dark mb-2">Unsere Verpflichtung</h3>
			<p class="text-xl text-gray-700 mb-8">
				Wir setzen uns dafür ein, digitale Plattformen bereitzustellen, die für ein möglichst breites Publikum zugänglich sind, und arbeiten aktiv daran, die Benutzerfreundlichkeit unserer Produkte zu optimieren.
			</p>
            <h2 class="text-2xl font-bold text-tealinger-dark mb-2">Stufe der Barrierefreiheit</h3>
			<p class="text-xl text-gray-700 mb-3">
				Wir setzen uns dafür ein, unsere digitalen Produkte für jeden zugänglich zu machen. Um das Benutzererlebnis weiter zu optimieren, arbeiten wir aktiv an den folgenden Verbesserungen:
			</p>
                <ul class="text-xl text-gray-700 list-disc pl-25 mb-8">
                    <li>Sicherstellen, dass alle Bildschirme nur mit der Tastatur navigierbar sind</li>
                    <li>Erhöhung des Farbkontrasts für eine bessere Lesbarkeit</li>
                    <li>Logische Navigation durch entsprechende Strukturierung der Kopfzeilen-Elemente</li>
                    <li>Optimierung von Text und Layout, um beim Zoomen Schärfe und Benutzerfreundlichkeit zu gewährleisten</li>
                </ul>
            <h2 class="text-2xl font-bold text-tealinger-dark mb-2">Erstellung dieser Erklärung zur Barrierefreiheit</h3>
			<p class="text-xl text-gray-700 mb-3">
				Die Bewertung der Vereinbarkeit erfolgte in Form einer Selbstbewertung. Wir werden allerdings in Zukunft auf externe Argenturen für die Bewertung der Barrierefreiheit setzen.<br> 
                Verwendete Testmethoden:
            </p>
                <ul class="text-xl text-gray-700 list-disc pl-25 mb-8">
                    <li>Automatisierte Tests mittels axe DevTools v4.118.2</li>
                    <li>Automatisierte Tests mittels Google Lighthouse</li>
                    <li>Manuelle stichprobenartige Tests</li>
                </ul>
            <h2 class="text-2xl font-bold text-tealinger-dark mb-2">Konformitätsstatus</h3>

			<p class="text-xl text-gray-700 mb-8">
				In den Richtlinien zur Barrierefreiheit von Webseiten-Inhalten (Web Content Accessibility Guidelines, WCAG) sind Anforderungen für Webdesigner und Entwickler festgelegt, um die Zugänglichkeit für Personen mit Behinderungen zu verbessern. In den Richtlinien sind drei Konformitätsstufen definiert: Level A, Level AA und Level AAA. Diese Webseite erfüllt zurzeit teilweise die Anforderungen für den AA-Standard gemäß Version 2.2 der WCAG-Richtlinien.
            </p>
        
            <h2 class="text-2xl font-bold text-tealinger-dark mb-2">Feedback</h3>

			<p class="text-xl text-gray-700 mb-8">
				Wir freuen uns über Feedback zu unseren Bemühungen um Barrierefreiheit. Sie können sich gerne mit Fragen, Bedenken oder Vorschlägen an uns wenden.
                
                Um weitere Informationen zu unseren Maßnahmen zur Barrierefreiheit zu erhalten oder Feedback zu geben, kontaktieren Sie uns bitte unter: contact@tealinger.com
            </p>
			<p class="text-xl text-gray-700 mb-8">
				Diese Erklärung zur Barrierefreiheit wurde am 30. Dezember 2025 erstellt.
			</p>
		</div>
</Layout>