---
import Layout from '../layout/Layout.astro';
import "../styles/global.css";
---

<Layout title="Datenschutzerklärung">
    <div></div>
        <h1 class="text-4xl font-extrabold text-tealinger-dark mb-8 border-b-2 border-green-100 pb-4">Datenschutzerklärung</h1>
        <p class="text-xl">Das Unternehmen Tealinger GmbH mit Sitz Praterstraße 302, 1020 Wien ("Tealinger" oder "Wir"), als das für die Datenverarbeitung verantwortliche Unternehmen, informiert unsere Kunden, die in unserem E-Shop, der über das Webportal martingierlinger.github.io/tealinger zugänglich ist, über die unten beschriebene Verarbeitung personenbezogener Daten und über unsere Datenschutzerklärung.</p>
        <br>
        <div class="text-xl text-gray-700">
                        <section>
                <h2 class="text-2xl font-bold text-tealinger-dark mb-2">Betroffenen Rechte</h3>
                <p>Folgende Rechte stehen Ihnen als Betroffener im Sinne der DSGVO zu über die wir Sie hiermit informieren möchten.  </p> <br>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Recht auf Auskunft (Art. 15 DSGVO) </h3>
                <p>Sie haben das Recht, jederzeit von Tealinger unentgeltliche Auskunft über die zu ihrer Person gespeicherten personenbezogenen Daten sowie eine Kopie dieser Auskunft zu erhalten. Wird das Auskunftsrecht über Gebühr beansprucht, indem Auskunftsbegehren in exzessiver Art und Weise geltend gemacht werden, kann Tealinger einen ortsüblichen Kostenersatz für die Auskunftserteilung einheben.  </p>
                <br>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Recht auf Berichtigung (Art. 16 DSGVO)  </h3>
                <p>Sie haben das Recht, von Tealinger unverzüglich die Berichtigung Sie betreffender unrichtiger personenbezogener Daten zu verlangen.  </p> <br>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Recht auf Löschung (Recht auf Vergessen werden) (Art. 17 DSGVO) </h3>
                <p>Sie haben das Recht, von Tealinger zu verlangen, dass die Sie betreffenden personenbezogenen Daten unverzüglich gelöscht werden, soweit sie für die Zwecke für die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht erforderlich sind und die Löschung keinem Rechtsgrund entgegensteht. Wird die Löschung beantragt, überprüft Tealinger die vorgenannten gesetzlichen Voraussetzungen und informiert Sie hierzu.   </p> <br>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Recht auf Einschränkung der Verarbeitung (Art. 18 DSGVO)  </h3>
                <p>Sie haben das Recht, von Tealinger die Einschränkung der Verarbeitung der Sie betreffenden personenbezogenen Daten zu verlangen.    </p> <br>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Recht auf Datenübertragbarkeit (Art. 20 DSGVO) </h3>
                <p>Sie haben das Recht, die sie betreffenden personenbezogenen Daten, welche Sie Tealinger bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten und diese Daten einem anderen Verantwortlichen zu übermitteln.  </p> <br>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Recht auf Widerspruch (Art. 21 DSGVO) </h3>
                <p>Verarbeitet Tealinger personenbezogene Daten aufgrund eines berechtigten Interesses von Tealinger oder einem Dritten, oder um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen diese Verarbeitung ihrer Daten einzulegen. Dies gilt auch für Profiling, sofern es mit einer solchen Direktwerbung in Verbindung steht. Legen Sie Widerspruch hinsichtlich der Direktwerbung ein, werden die personenbezogenen Daten nicht mehr für diesen Zweck verarbeitet. Legen Sie Widerspruch hinsichtlich einer auf einem berechtigten Interesse von Tealinger oder einem Dritten basierenden Datenverarbeitung ein, stellt Tealinger die Datenverarbeitung ein, außer Tealinger kann zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.  </p> <br>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Recht auf Widerruf der Einwilligung (Art. 7 Abs. 3 DSGVO)</h3>
                <p>Sie haben das Recht, eine vorher erteilte Einwilligung zur Datenverarbeitung jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.  </p> <br>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Beschwerderecht (Art. 77 DSGVO) </h3>
                <p>Wenn Sie zur Auffassung gelangen, dass die Verarbeitung ihrer Daten gegen datenschutzrechtliche Bestimmungen verstößt oder ihre datenschutzrechtlichen Ansprüche sonst in einer Weise verletzt worden sind, können Sie sich bei der Aufsichtsbehörde beschweren. In Österreich ist dies die Datenschutzbehörde, Wickenburggasse 8, 1080 Wien.   </p> <br>
             </section>
            <section>
                <h2 class="text-2xl font-bold text-tealinger-dark mb-2">Umfang der Verarbeitung von Personenbezogenen Daten, Zweck und Rechtgrundlage der Verarbeitung</h3>
                <p>In diesem Abschnitt informieren wir Sie darüber, welche personenbezogenen Daten wir von Ihnen verarbeiten. Die Rechtsgrundlage basiert auf Artikel 6 der Datenschutz-Grundverordnung (EU) 2016/679 (GDPR). </p> <br>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Antwort auf Anfragen, Fragen, Vorschläge</h3>
                <p>Wenn Sie sich mit einer Anfrage, einer Frage oder einem Vorschlag an uns wenden, werden Sie möglicherweise gebeten, bestimmte Informationen über Sie oder Ihr Unternehmen anzugeben. </p>
                <br>
                <p>Diese Daten können unter anderem Folgendes umfassen:</p>
                <ul class="text-gray-700 list-disc pl-25 mb-8">
                    <li>Vor- und Nachname</li>
                    <li>E-Mail Adresse</li>
                </ul>
                <p>Wir verwenden die Informationen, die Sie uns zur Verfügung stellen, um Sie zu kontaktieren und Ihnen die gewünschten Informationen zukommen zu lassen. Die Bereitstellung personenbezogener Daten für die Beantwortung Ihrer Anfragen, Fragen oder die Bereitstellung erforderlicher Informationen ist unsere Pflicht, und die Nichtbereitstellung dieser Daten kann dazu führen, dass wir nicht antworten können.</p>
                <br>
            </section>
            <section>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Erledigung der Bestellung</h3>
                <p>Wenn Sie im E-Shop von Tealinger Waren kaufen, benötigen wir Ihre persönlichen Daten, um den Vertrag abzuschließen und zu erfüllen. </p> <br>
                <p>Diese persönlichen Daten sind:</p>
                <ul class="text-gray-700 list-disc pl-25 mb-8">
                    <li>Vor- und Nachname</li>
                    <li>Lieferadresse</li>
                    <li>Telefonnummer</li>
                    <li>E-Mail Adresse</li>
                    <li>Informationen über die bestellten Waren</li>
                    <li>Informationen über die Wahl der Zahlungsmethode</li>
                    <li>Zahlungskarteninformationen</li>
                </ul>
                <p>Die Bereitstellung personenbezogener Daten zum Zweck der Vertragserfüllung ist unsere vertragliche Verpflichtung und die Nichtbereitstellung kann dazu führen, dass der Vertrag nicht geschlossen wird.</p>
                <p>Wenn Sie im E-Shop von Tealinger einkaufen, speichern wir die von Ihnen eingegebenen Daten (hauptsächlich Vor- und Nachname, Lieferadresse, Telefonnummer und E-Mail-Adresse) für den nächsten Einkauf, damit Sie sie nicht erneut eingeben musst</p>
            </section>
            <section>
                <br>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Server-Logs</h3>
                <p>Beim Aufrufen dieser Website werden durch den auf Ihrem Endgerät zum Einsatz kommenden Browser automatisch Informationen an den Server unserer Website gesendet. Diese Informationen werden temporär in einem sog. Logfile gespeichert. Folgende Informationen werden dabei ohne Ihr Zutun erfasst und bis zur automatisierten Löschung gespeichert:  </p>
                <ul class="text-gray-700 list-disc pl-25 mb-8">
                    <li>IP-Adresse des anfragenden Rechners</li>
                    <li>Datum und Uhrzeit des Zugriffs</li>
                    <li>Name und URL der abgerufenen Datei</li>
                    <li>Herkunfts-Website (Referrer-URL)</li>
                    <li>verwendeter Browser und ggf. das Betriebssystem Ihres Rechners sowie der Name Ihres Access-Providers. </li>
                    <li>Informationen über die Wahl der Zahlungsmethode</li>
                </ul>
                <p>Die Möglichkeit, diese Daten auf der Rechtsgrundlage nach Art. 6 Abs. 1 lit. f DSGVO für Zwecke wie </p>
                <ul class="text-gray-700 list-disc pl-25">
                    <li>die Gewährleistung eines reibungslosen Verbindungsaufbaus der Website</li>
                    <li>die Gewährleistung einer komfortablen Nutzung unserer Website</li>
                    <li>die Auswertung der Systemsicherheit und -stabilität sowie </li>
                    <li>zu weiteren administrativen Zwecken</li>
                </ul>
                <p>zu nutzen, wird derzeit von uns wahrgenommen. Die erhobenen Daten werden in keinem Fall dafür verwendet, Rückschlüsse auf Ihre Person zu ziehen. </p>
            </section>
            <section>
                <br>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Erstellung eines Kundenkontos</h3>
                <p>Wenn Sie ein passwortgeschütztes Kundenkonto im Tealinger E-Shop erstellen oder ein von uns eingerichtetes Kundenkonto verwenden, verarbeiten wir auch die personenbezogenen Daten, die Sie über Ihr Konto angeben, einschließlich Ihrer Einkaufshistorie im Tealinger E-Shop, um Ihr Kundenkonto zu verwalten, eine Liste mit Lieblingsartikeln für Ihren nächsten Einkauf zu erstellen und den Inhalt der Website anzupassen, um Ihren Einkauf bequemer und schneller zu machen</p> <br>
                <p>Die Rechtsgrundlage für diese Verarbeitung ist die Erfüllung eines Vertrags mit Ihnen.</p>
            </section>
            <section>
                <br>
                <h3 class="text-xl font-bold text-tealinger-dark mb-2">Durchführen von Marketinganalysen und Statistiken</h3>
                <p>Wenn Sie uns im E-Shop von Tealinger Ihre Zustimmung geben, werden wir die von Ihnen angegebenen personenbezogenen Daten, einschließlich Ihrer Kaufhistorie, auch für die Durchführung von Marketinganalysen und Statistiken verarbeiten. Die Erteilung dieser Einwilligung ist freiwillig und Sie sind nicht durch eine gesetzliche Regelung dazu verpflichtet, sie zu erteilen. Sie können Ihre Zustimmung jederzeit widerrufen. Der Widerruf Ihrer Zustimmung hat keinen Einfluss auf die Rechtmäßigkeit der Verarbeitung Ihrer personenbezogenen Daten vor dem Widerruf.</p> <br>
                <p>Die Rechtsgrundlage für diese Verarbeitung ist die Erfüllung einer für uns geltenden rechtlichen Verpflichtung. </p>
                </section>

            <section>
                <br>
                <h2 class="text-2xl font-bold text-tealinger-dark mb-2">Wer Zugang zu Ihren persönlichen Daten hat</h3>
                <p>Wir geben Ihre personenbezogenen Daten nur an befugte Mitarbeiter und kooperierende Personen oder einzelne Auftragsdatenverarbeiter oder andere Verantwortliche weiter, aber nur in dem Umfang, der für die Erfüllung der einzelnen Zwecke erforderlich ist und auf der Grundlage des entsprechenden Rechtstitels für die Verarbeitung personenbezogener Daten. </p> <br>
            </section>
            <section>
                <h2 class="text-2xl font-bold text-tealinger-dark mb-2">Zeitraum der Verarbeitung von personenbezogenen Daten</h3>
                <p>Wir verarbeiten Ihre personenbezogenen Daten so lange, wie wir Ihnen unsere Dienstleistungen zur Verfügung stellen oder einen gegenseitigen Vertrag erfüllen, oder so lange, wie es notwendig ist, um Archivierungs- oder andere Verpflichtungen nach geltendem Recht zu erfüllen, wie z. B. das Rechnungslegungsgesetz, Gesetze zur Aufbewahrung oder das Umsatzsteuergesetz.</p> <br>
                <p>Nach der Vertragserfüllung (Zahlung des Preises und Lieferung der Ware) verarbeiten wir Ihre personenbezogenen Daten für unsere berechtigten Interessen, d.h. die Wahrung unserer Ansprüche, für den erforderlichen Zeitraum weiter, jedoch nicht länger als 4 Jahre.</p>
                <p>Wir verarbeiten personenbezogene Daten, die wir auf der Grundlage Ihrer Einwilligung verarbeiten, so lange, bis Sie Ihre Einwilligung widerrufen. Um Ihre Zustimmung zu widerrufen, senden Sie eine E-Mail mit dem entsprechenden Antrag an contact@tealinger.at</p>
            </section>
            <section>
                <br>
                <h2 class="text-2xl font-bold text-tealinger-dark mb-2">Cookies</h3>
                <p>Grundsätzlich erfassen wir Informationen, wenn Sie unsere Websites aufrufen. Diese Informationen werden als „Cookie“ bezeichnet. Zusammen mit den Informationen, die Sie uns zur Verfügung gestellt haben, können wir ihre Besuche auf unserer Website noch besser auf ihre Bedürfnisse abstimmen.  </p> <br>
                <p>„Cookies“ sind kleine Dateien, die es Tealinger ermöglichen auf Ihrem PC bzw. das digitale Endgerät spezifische, auf Sie, den Nutzer, bezogene Informationen zu speichern, während Sie die Websites besuchen. Die Website verwendet bzw. setzt Cookies in Übereinstimmung mit der unionsrechtlichen und österreichischen Rechtslage (Art 5 Abs 3 E-Privacy-RL sowie § 165 Abs 3 TKG 2021). Cookies helfen dabei, die Nutzungshäufigkeit und die Anzahl der Nutzer der Internetseiten zu ermitteln, sowie die Angebote für Sie möglichst komfortabel und effizient zu gestalten. Der Inhalt der verwendeten Cookies beschränkt sich meist auf eine Identifikationsnummer und Nutzungsdaten, die keine Personenbeziehbarkeit auf den Nutzer zulässt.  </p> <br>
                <p>Eine Nutzung unserer Angebote ist auch ohne Cookies möglich, kann aber dadurch eingeschränkt sein. </p> <br>
                <p>Bei der Verwendung bzw. Setzung von allen Cookies, welche nicht für den Betrieb der Website unbedingt erforderlich sind, holt Tealinger vorab Ihre Einwilligung ein, und zwar über ihr aktives Verhalten, indem Sie nach vollständiger Information darüber, welche personenbezogenen Daten auf welcher Rechtsgrundlage zu welchen Zwecken von den eingesetzten Cookies erhoben bzw. verarbeitet werden  durch und über unseren Cookie-Banner, mit dem Sie ausdrücklich Ihre Einwilligung erteilen. Keiner Einwilligung bedürfen lediglich solche Cookies, die für den Betrieb der Website unbedingt notwendig sind. Sie haben die Möglichkeit, die Einwilligung abzulehnen, wenn die Cookie Bar erscheint. Weiters können Sie die Cookies auch in Ihrem Browser löschen. </p> <br>
                <p>Datenschutz ist für uns ein essentieller Beitrag in Hinblick auf Kundenzufriedenheit. Daher können Sie in Ihrem Browser das Speichern von Cookies deaktivieren, auf bestimmte Websites beschränken oder Ihren Browser so einstellen, dass er Sie benachrichtigt, sobald ein Cookie gesendet wird. Sie können Cookies auch jederzeit von der Festplatte ihres PCs löschen. Bitte beachten Sie aber, dass Sie in diesem Fall mit einer eingeschränkten Darstellung der Seite und mit einer eingeschränkten Benutzerführung rechnen müssen. </p>
            </section>
            <section>
                <br>
                <h2 class="text-2xl font-bold text-tealinger-dark mb-2">Google Analytics</h3>
                <p>Diese Webseite benutzt Google Analytics, einen Webanalysedienst der Google Inc. (folgend: Google). Google Analytics verwendet sog. „Cookies“, also Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Webseite durch Sie ermöglichen. Die durch das Cookie erzeugten Informationen über Ihre Benutzung dieser Webseite werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Aufgrund der Aktivierung der IP-Anonymisierung auf diesen Webseiten, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Webseite wird Google diese Informationen benutzen, um Ihre Nutzung der Webseite auszuwerten, um Reports über die Webseitenaktivitäten zusammenzustellen und um weitere mit der Webseitennutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Webseitenbetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. </p> <br>
                <p>Die Verarbeitung erfolgt auf Grundlage Ihrer Einwilligung gemäß Art. 6 Abs. 1 lit. a DSGVO. </p>
            </section>

            <p>Stand 12/2025</p>
        </div>
    <div>